<meta charset="UTF-8">
<div id="top-bar">
        <div id="photo" style="padding-left: 2rem;padding-right: 2rem;"><img src="/imagen/pajaro.png"></div>
        <p id="bar-title" style="margin-bottom: 0;color: white;width: 232px;height: 47px;left: 180px;top: 25px;font-family: 'Faustina';font-style: normal;font-weight: 400;font-size: 37px;line-height: 47px;">En planes Perú</p>
    </div>

    <div id="sidemenu" class="menu-collapsed">

        <div id="header">
    
            <div id="title"><span></span></div>
            <div id="menu-btn">
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
            </div>
              
        </div>

        <div id="profile">
            <div id="photo"><img src="/imagen/photo.jpg" ></div>
            
            <div id="name"><span>Franco Casanova</span> </div>
        </div>

        <div id="menu-items">
            <div class="item">
                <a href="#">
                    <div class="icon"><img src="/imagen/rectangle.png" alt=""></div>
                    <div class="title"><span>Inicio</span></div>
                </a>
            </div>

            <div class="item separator"></div>

            <div class="item">
                <a href="#">
                    <div class="icon"><img src="/imagen/rectangle.png" alt=""></div>
                    <div class="title"><span>Perfil</span></div>
                </a>
            </div>
            <div class="item separator"></div>

            <div class="item">
                <a href="#">
                    <div class="icon"><img src="/imagen/rectangle.png" alt=""></div>
                    <div class="title"><span>Editar Perfil</span></div>
                </a>
            </div>
          
            <div class="item separator"></div>

            <div class="item">
                <a th:href="@{/comments}"> 
                    <div class="icon"><img src="/imagen/rectangle.png" alt=""></div>
                    <div class="title"><span >Comentarios</span></div>
                </a>
            </div>
            <div class="item separator"></div>

            <div class="item">
                <a href="#">
                    <div class="icon"><img src="/imagen/rectangle.png" alt=""></div>
                    <div class="title"><span>Mis Tarjetas</span></div>
                </a>
            </div>
            <div class="item separator"></div>

            <div class="item">
                <a href="#">
                    <div class="icon"><img src="/imagen/rectangle.png" alt=""></div>
                    <div class="title"><span>Blog viajando</span></div>
                </a>
            </div>

        </div>
      
    </div>
    
    <div></div>